**.dll
/ContosoBadBankWebApp/ignore
/ContosoBadBankWebApp/bin/Release/netcoreapp3.1
/ContosoBadBankWebApp/.vs/ContosoBadBank/DesignTimeBuild
/ContosoBadBankWebApp/Properties/PublishProfiles
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/project.razor.json
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/ContosoBadBank.RazorAssemblyInfo.cs
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/ContosoBadBank.RazorAssemblyInfo.cache
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/ContosoBadBank.assets.cache
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/ContosoBadBank.AssemblyInfoInputs.cache
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/ContosoBadBank.AssemblyInfo.cs
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/ContosoBadBankWebApp/obj/Release/netcoreapp3.1/PubTmp/Out/ignore/appsettings.json
/ContosoBadBankWebApp/obj/Release/netcoreapp3.1/PubTmp/Out/wwwroot
/ContosoBadBankWebApp/obj/Release/netcoreapp3.1/PubTmp/Out
/ContosoBadBankWebApp/obj/Release/netcoreapp3.1/PubTmp
/ContosoBadBankWebApp/obj/Release/netcoreapp3.1
/ContosoBadBankWebApp/obj/project.nuget.cache
/ContosoBadBankWebApp/obj/project.assets.json
/ContosoBadBankWebApp/obj/ContosoBadBank.csproj.nuget.g.targets
/ContosoBadBankWebApp/obj/ContosoBadBank.csproj.nuget.g.props
/ContosoBadBankWebApp/obj/ContosoBadBank.csproj.nuget.dgspec.json
/ContosoBadBankWebApp/bin/Debug/netcoreapp3.1
/ContosoBadBankWebApp/obj/Debug/netcoreapp3.1
